<div id="content_newsletter" class="wave">
  <div class="content_items">
      <div class="onda_movil">
          <img class="" src="/rural/web/themes/custom/manosminimal/img/ondaMovil.png" alt="Icono compra a la rural"/></a>
      </div>
      <div class="intem_newsletter">
         <h1 id="titulo_newsletter">SUBSCRIU-TE AL BUTLLETÍ</h1>
      </div>

      <div class="item_newsletter">
         {{ form }}
         {{ form.form_build_id }}
         {{ form.form_token }}
         {{ form.form_id }}
      </div>
  </div>
</div>
